    $background-img: url(../images/mars.jpg);
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    
     :root {
        --fw-light: 300;
        --fw-normal: 400;
        --fw-bold: 700;
        --fs-h1: 1.5rem;
        --fs-h2: 2.25rem;
        --fs-sm: 1.3rem;
        --fs-large: 3.5rem;
        --fs-body: 1rem;
        --clr-white: #fff;
        --clr-grey: #989898;
        --clr-dark: #444;
        --clr-accent: #D06D6D;
        --clr-accent-dark: #613131;
    }
    
    //Hiding screen reader from DOM
    .sr-only:not(:focus):not(:active) {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
    
    body {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        line-height: 1;
        background-image: $background-img;
        background-size: cover;
        height: 100vh;
        overflow: hidden;
        color: var(--clr-white);
    }
    
    h1,
    h2,
    h3 {
        line-height: 1;
    }
    
    a {
        color: var(--clr-accent);
        &:hover {
            color: var(--clr-accent-dark);
        }
    }
    
    .main-title {
        font-size: var(--fs-h1);
        font-weight: var(--fw-light);
        color: var(--clr-accent);
        text-transform: uppercase;
        letter-spacing: 2.5px;
        grid-column: 1 / -1;
    }
    
    .section-title {
        font-size: var(--fs-h2);
        font-weight: var(--fw-bold);
        margin: 0;
    }
    
    .reading {
        font-size: var(--fs-sm);
        margin: 0;
        color: var(--clr--grey);
        line-height: 0.3;
    }
    
    .sol-date {
        font-size: var(--fs-large);
    }
    
    .current-weather {
        background: rgba(0, 0, 0, .7);
        padding: 2em;
        max-width: 1000px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2em;
    }
    
    .date {
        grid-column: 1 / 2;
        &__day {
            font-size: var(--fs-h2);
            margin: 0;
            font-weight: var(--fw-light);
        }
    }
    
    .temp {
        --border: solid .3em var(--clr-accent-dark);
        grid-column: 2 / 3;
        border-left: var(--border);
        border-right: var(--border);
        padding: 0 2em;
    }
    
    .wind {
        grid-column: 3 / 4;
    }
    
    .info {
        grid-column: 1 / 4;
    }
    
    .prev-weather {
        background: var(--clr-white);
        color: var(--clr-dark);
        position: absolute;
        bottom: 0;
        width: 100%;
        transform: translateY(60%);
        transition: transform 350ms ease;
    }
    
    .show-prev-weather {
        position: absolute;
        background: var(--clr-white);
        left: 50%;
        width: 10rem;
        transform: translate(-50%, -100%);
        text-align: center;
        font-size: var(--fs-h2);
        line-height: 1;
        clip-path: polygon(50% 0, 0 100%, 100% 100%);
        cursor: pointer;
        color: var(--clr-accent-dark);
    }
    
    .prev-days {
        display: flex;
    }
    
    .show-weather {
        transform: translateY(0);
    }